body {
  margin: 0;
  padding: 0;
}

#inicio{
  scroll-margin-top: 10vh;
}
#servicios {
  scroll-margin-top: 12vh;
}
#contacto{
  scroll-margin-top: 15vh;
}

#quienes-somos, #trabajos{
  scroll-margin-top: 4vh;
}

@media(max-width:431px){
  #contacto{
    scroll-margin-top: 2vh;
  }
}