@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.encabezado-personalizado {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #0e0e0e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 50px;
  margin-right: 10px;
}

.texto-logo {
  font-family: 'Teko', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.seccion-menu {
  display: flex;
  align-items: center;
}

.menu-escritorio {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu-escritorio li {
  position: relative;
}

.menu-escritorio a {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
  transition: color 0.3s;
}

.menu-escritorio a:hover {
  color: #fc373b;
  background-color: rgb(53, 53, 53);
  border-radius: 10%;
}

.boton-menu {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.cajon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  box-sizing: border-box;
  overflow-y: auto;
}

.cabecera-cajon {
  display: flex;
  justify-content: flex-end;
}

.boton-cerrar {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.menu-cajon {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.menu-cajon li {
  margin: 10px 0;
}

.menu-cajon a {
  font-family: 'Teko', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s;
  border-bottom: 2px solid transparent;
}

.menu-cajon a:hover,
.menu-cajon a.activo {
  color: #fc373b;
  border-bottom: 2px solid #fc373b;
}

.activo {
  color: #fc373b;
}

@media (max-width: 768px) {
  .menu-escritorio {
    display: none;
  }

  .boton-menu {
    display: block;
  }

  .menu-cajon a {
    border-bottom: 2px solid transparent;
  }

  .menu-cajon a:hover,
  .menu-cajon a.activo {
    border-bottom: 2px solid #fc373b;
  }
}



@media (max-width: 667px) {
  .texto-logo {
    font-size: 23px;
  }
}
@media(max-width:361px){
  .encabezado-personalizado {
    padding: 10px 15px;
  }
}
@media (max-width: 345px) {
  .encabezado-personalizado {
      padding: 6px 11px;
  }
}

